nav {
  background-color: #555c5c;
  border-top: 6px solid #454648;
  padding: 1.5em 0;
  font-size: 0.9em;
  text-align: center;
}
nav ul {
  margin: 0;
  display: inline;
}
nav li {
  padding: 0 1.5em;
}
nav a {
  font-family: BrandonGrotesque-Bold;
  color: #eeefef;
  text-transform: uppercase;
  text-decoration: none;
}
header {
  background: #bbc7c7 url('../img/background.png') repeat;
  text-align: center;
}
header img {
  padding: 2em;
  max-width: 100%;
}
header p {
  font-size: 1.9em;
  padding: 0 2em;
}
.social-quicklinks a {
  color: #aab9b7;
}
.social-quicklinks ul {
  text-align: center;
}
.social-quicklinks li {
  padding-right: 4em;
}
.quickinfo a {
  font-weight: bold;
  text-decoration: underline;
  display: block;
  margin-top: 25px;
}
.quickinfo p {
  line-height: 1.5em;
}
button.donate {
  background: #ef803b;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ef803b 1%, #f58d4e 50%, #f37425 60%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ef803b), color-stop(50%, #f58d4e), color-stop(60%, #f37425));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ef803b 1%, #f58d4e 50%, #f37425 60%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ef803b 1%, #f58d4e 50%, #f37425 60%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ef803b 1%, #f58d4e 50%, #f37425 60%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ef803b 1%, #f58d4e 50%, #f37425 60%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef803b', endColorstr='#f37425', GradientType=0);
  /* IE6-9 */

  border: 2px solid #aab9b7;
  color: #FFF;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 1em 1em 1em 4.8em;
  font-weight: bold;
  position: relative;
  margin-top: 1em;
}
button.donate img {
  position: absolute;
  top: -0.4em;
  left: 1em;
}
#device-table {
  margin-top: 4em;
}
.contact ul {
  margin: 2em 0 0;
  background-color: #ffffff;
  padding: 2em;
  width: 90%;
}
.contact li {
  padding-bottom: 0.5em;
}
.contact li:last-child {
  padding-bottom: 0;
}
#twitter ul {
  font-size: 0.7em;
  padding: 0 0 0.6em;
}
#twitter li:after {
  padding: 0 0.2em 0 0.5em;
  content: "·";
  color: #f67426;
}
#twitter li:last-child:after {
  content: "";
}
#twitter .tweet {
  border-bottom: 1px solid #c3d1d1;
}
#twitter .tweet:last-child {
  border-bottom: none;
}
#twitter .time {
  font-size: 0.7em;
}
footer {
  background-color: #555c5c;
}
footer p {
  color: #eeefef;
  padding: 2em 0;
  margin: 0;
  text-align: center;
  font-size: 0.8em;
}
footer p img {
  padding: 0 0.5em;
}
img {
  vertical-align: middle;
}
img.center {
  display: block;
  margin: 0 auto;
}
a {
  color: #f67426;
  text-decoration: none;
}
.language-switch {
  color: #bbc7c7;
  float: right;
  margin-right: 5em;
}
.language-switch a {
  color: #bbc7c7;
  margin-right: 1em;
}
p {
  line-height: 1.3em;
}
ul {
  list-style: none outside none;
}
.horizontal li {
  display: inline;
}
.separated {
  border-right: 1px solid #eeefef;
}
h2 {
  margin: 0 0 25px;
  font-family: Adelle-Bold;
  font-weight: 400;
}
p,
h2,
table,
ul {
  color: #555c5c;
}
table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  background-color: #bac6c6;
  border-top: 1px solid #929c9d;
  border-bottom: 1px solid #929c9d;
}
th,
td {
  text-align: left;
  line-height: 3.5em;
  padding-left: 2em;
}
.phone,
.tablet,
.ios,
.android {
  display: inline-block;
  width: 36px;
  height: 38px;
  position: relative;
  top: 14px;
  margin-right: 10px;
}
.phone {
  background: url('../img/phone.svg') no-repeat center;
}
.tablet {
  background: url('../img/tablet.svg') no-repeat center;
}
.ios {
  background: url('../img/ios.svg') no-repeat center;
}
.android {
  background: url('../img/android.svg') no-repeat center;
}
tbody tr:nth-child(2n) {
  background-color: #e9f3f4;
}
tbody tr:nth-child(2n+1) {
  background-color: #ffffff;
}
iframe {
  width: 100%;
  height: 19em;
  margin: 0;
}
.col4,
.col6,
.col3 {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}
.col3 {
  width: 22.05%;
}
.col4 {
  width: 30.75%;
}
.col6 {
  width: 48%;
}
.last {
  margin-right: 0;
}
.dark-tile-bg {
  background-color: #e0eeee;
}
.row {
  margin: 0 auto;
  max-width: 1140px;
}
.row:before,
.row:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.row:after {
  clear: both;
}
li.padded {
  margin-left: 100px;
}
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}
body {
  margin: 0;
  font-family: 'Adelle-Regular';
  font-weight: 400;
}
html {
  background-color: #e9f3f4;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .col4,
  .col6,
  .col3 {
    float: none;
    width: 100%;
    margin-bottom: 3em;
  }
  .last {
    margin-bottom: 0;
  }
  nav ul {
    padding: 1em 0;
    display: block;
  }
  .language-switch {
    float: none;
    margin-right: 0;
  }
  h2 {
    text-align: center;
    margin: 0.5em 0;
  }
  p {
    margin: 0.4em 0;
  }
  .quickinfo {
    text-align: center;
  }
  .quickinfo p {
    text-align: left;
  }
  .contact ul {
    width: 100%;
  }
  .padded {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  li {
    display: block;
    margin: 0.5em 0;
  }
  .separated {
    border-right: none;
  }
  header p {
    font-size: 1.3em;
    padding: 0 1em;
  }
  .wide li {
    display: inherit;
  }
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  thead tr {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  td {
    position: relative;
    padding-left: 50%;
  }
  td.phone:before,
  td.tablet:before,
  td.ios:before,
  td.android:before {
    background: none;
    padding: 0;
  }
  td:before {
    position: absolute;
    top: 0;
    left: 12px;
  }
  td:nth-of-type(1):before {
    content: "Manufacturer";
  }
  td:nth-of-type(2):before {
    content: "Model";
  }
  td:nth-of-type(3):before {
    content: "OS / Version";
  }
  td:nth-of-type(4):before {
    content: "Contributor";
  }
}
