#navbar {
  z-index: 1000;
  position: fixed;
  background-color: #555c5c;
  height: 69px;
}
#navbar ul {
  list-style: none outside none;
  margin-top: 1.5em;
}
#navbar li {
  display: inline;
  padding: 0 1.5em;
  border-right: 1px solid #eeefef;
}
#navbar li.last {
  border-right: none;
}
#navbar a {
  color: #eeefef;
  text-decoration: none;
  text-transform: uppercase;
}
#hero {
  position: relative;
  background-color: #bbc7c7;
  padding-top: 69px;
}
* {
  margin: 0;
}
html {
  text-align: center;
}
.section {
  width: 100%;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
}
.col12 {
  width: 100%;
}
.col6 {
  width: 50%;
}
