nav {
  background-color: #555c5c;
}
nav ul {
  padding: 1.5em 0;
  margin: 0;
  font-size: 0.9em;
}
nav .separated {
  border-right: 1px solid #eeefef;
}
nav a {
  font-weight: bold;
  color: #eeefef;
  text-transform: uppercase;
  font-family: Sans-Serif;
  text-decoration: none;
}
header {
  background-color: #bbc7c7;
  text-align: center;
}
header img {
  padding: 2em 0;
  max-width: 100%;
}
header p {
  font-size: 1.9em;
  line-height: 1.3em;
  padding: 0 2em;
}
#social-quicklinks a {
  color: #aab9b7;
}
#quickinfo {
  padding: 5em 0;
}
#quickinfo a {
  font-weight: bold;
  text-decoration: underline;
}
#quickinfo p {
  line-height: 1.5em;
}
#device-table {
  padding: 4em 0;
}
img {
  vertical-align: middle;
}
a {
  color: #f67426;
  text-decoration: none;
}
li {
  display: inline;
  padding: 0 1.5em;
}
ul {
  list-style: none outside none;
  padding: 1em 0;
  text-align: center;
}
p,
h2,
table {
  color: #555c5c;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table thead {
  background-color: #bac6c6;
  border-top: 1px solid #929c9d;
  border-bottom: 1px solid #929c9d;
}
table th,
table td {
  text-align: left;
  line-height: 3.5em;
  padding-left: 2em;
}
table td.phone:before {
  background: url('../img/phone.png') no-repeat left;
}
table td.tablet:before {
  background: url('../img/tablet.png') no-repeat left;
}
table td.ios:before {
  background: url('../img/ios.png') no-repeat left;
}
table td.phone:before,
table td.tablet:before,
table td.ios:before,
table td.android:before {
  display: inline-block;
  content: "";
  height: 33px;
  position: relative;
  padding-right: 2.5em;
  top: 0.7em;
}
table tbody tr:nth-child(2n) {
  background-color: #e9f3f4;
}
table tbody tr:nth-child(2n+1) {
  background-color: #ffffff;
}
.col4,
.col6 {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}
.col4 {
  width: 30.75%;
}
.col6 {
  width: 50%;
}
.last {
  margin-right: 0;
}
.dark-tile-bg {
  background-color: #e0eeee;
}
.row {
  margin: 0 auto;
  max-width: 1140px;
}
.padded {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}
body {
  margin: 0;
}
html {
  background-color: #e9f3f4;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
