@dark-grey: #555c5c;
@custom-white: #eeefef;
@hero-grey: #bbc7c7;

#navbar {
	position: fixed;
	text-align: center;
	width: 100%;
	background-color: @dark-grey;
	top: 0;
	left: 0;
	padding: 1em 0;
	a {
		color: @custom-white;
		text-decoration: none;
	}
}

#hero {
	background-color: @hero-grey;
	width: 100%;
}